@inject EngineService EngineService

<DialogLayout>
    <ChildContent>
        <p>Do you really want to restore graph from this file?</p>
        <p>Backup payload contains @(Payload.Events.Count()) event(s)</p>
    </ChildContent>
    <Footer>
        <button type="button" class="btn btn-danger" @onclick="Confirm">Confirm</button>
        <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
    </Footer>
</DialogLayout>

@code {
    [CascadingParameter]
    public BlazoredModalInstance BlazoredModal { get;set; }

    [Parameter]
    public BackupData Payload { get; set; }

    private async Task Confirm() {
        await EngineService.InitEngine(Payload.Events);
        await BlazoredModal.Close(ModalResult.Ok(true));
    }

    private void Cancel() {
        BlazoredModal.Close(ModalResult.Cancel());
    }
}