@page "/actors/create"
@inject NavigationManager NavigationManager
@inject RoutingService Routing

<Scaffold>
    <Title>Create actor</Title>
    <ChildContent>
        <IndividualCreateForm BaseEvent="@StaticEvent.Actor" ModelID="@StaticEvent.ActorModel" OnSubmit="@HandleSubmit" />
    </ChildContent>
</Scaffold>

@code {
    private void HandleSubmit() {
        NavigationManager.NavigateTo(Routing.Actors());
    }
}