@*
    Parallax
    Copyright (C) 2020  Frank Horrigan <https://github.com/saurer>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@page "/attributes/{id:int}"
@inject IStorageAPI Storage
@inject DialogService Dialog
@inject TransactionsService Tx

@if (null != attr) {
    <Scaffold>
        <Title>(@attr.ID) @attr.Label</Title>
        <ChildContent>
            <h4>Type</h4>
            @if (attr.IsBoxed) {
                <span>Boxed</span>
            }
            else {
                <span>Basic</span>
            }

            <hr/>

            @if (attr.IsBoxed) {
                <h4 class="mt-5">Values</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:1px">ID</th>
                            <th>Label</th>
                            <th style="width:1px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var value in attr.Values) {
                            <tr>
                                <td>@value.EventID</td>
                                <td colspan="2">@value.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            @if (attr.IsBoxed) {
                <hr/>
                <button class="btn btn-primary" @onclick="HandleAddValue">
                    <i class="icon feather-plus mr-1"></i>
                    <span>Add value</span>
                </button>
            }
        </ChildContent>
    </Scaffold>
}

@code {
    [Parameter]
    public int ID { get; set; }

    private AttrData attr = null;

    protected override async Task OnInitializedAsync() {
        await Redraw();
    }

    private async Task Redraw() {
        var attr = await Storage.GetAttribute(ID);
        this.attr = await AttrData.Instantiate(attr);
    }

    private async Task HandleAddValue() {
        var result = await Dialog.AddAttributeValue(ID);
        if (null != result) {
            await Tx.AssignAttributeValue(ID, result);
            await Redraw();
        }
    }
}