@page "/entities/create"
@inject EngineBase Engine
@inject NavigationManager NavigationManager
@inject CredentialsService CredentialsService

<Scaffold>
    <Title>Create entity</Title>
    <ChildContent>
        <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator/>

            <div class="form-group">
                <label for="name">Name</label>
                <InputText class="form-control" @bind-Value="model.Name" />
            </div>

            <hr/>
            <button type="submit" class="btn btn-primary">
                <span class="oi oi-plus mr-1"></span>
                <span>Confirm</span>
            </button>
        </EditForm>
    </ChildContent>
</Scaffold>

@code {
    private EntityCreateData model = new EntityCreateData();

    private async Task HandleSubmit() {
        int entityID = await model.Execute(Engine, CredentialsService);
        NavigationManager.NavigateTo($"/entities/{entityID}");
    }
}