@page "/entities/create"
@inject NavigationManager NavigationManager
@inject RoutingService Routing
@inject TransactionsService Tx

<Scaffold>
    <Title>Create action</Title>
    <ChildContent>
        <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator/>

            <div class="form-group">
                <label for="name">Label</label>
                <InputText class="form-control" @bind-Value="model.Label" />
            </div>

            <hr/>
            <button type="submit" class="btn btn-primary">
                <i class="icon feather-plus mr-1"></i>
                <span>Confirm</span>
            </button>
        </EditForm>
    </ChildContent>
</Scaffold>

@code {
    private EntityCreateData model = new EntityCreateData();

    private async Task HandleSubmit() {
        int entityID = await Tx.CreateEntity(model.Label);
        NavigationManager.NavigateTo(Routing.EntitiesView(entityID));
    }
}