@page "/entities/create"
@inject EngineBase Engine
@inject NavigationManager NavigationManager
@inject CredentialsService CredentialsService

<Scaffold>
    <Title>Create entity</Title>
    <ChildContent>
        <IndividualCreateForm Type="@IndividualCreateType.Entity" OnSubmit="@HandleSubmit" />
    </ChildContent>
</Scaffold>

@code {
    private void HandleSubmit() {
        NavigationManager.NavigateTo("/entities");
    }
}