@page "/"
@inject EngineBase Engine

<Scaffold>
    <Title>Event log</Title>
    <TitleRight>
        <Paginator CurrentPage="@currentPage" TotalPages="@totalPages" OnChange="@HandlePageChange" />
    </TitleRight>
    <ChildContent>
        <EventList Items="@events" />

        <hr/>
        <button class="btn btn-primary" disabled>
            <span class="oi oi-cloud-download mr-1"></span>
            <span>Save</span>
        </button>

        <button class="btn btn-primary" disabled>
            <span class="oi oi-cloud-upload mr-1"></span>
            <span>Load</span>
        </button>
    </ChildContent>
</Scaffold>

@code {
    private IEnumerable<IEvent> events { get; set; } = Array.Empty<IEvent>();
    private const int ITEMS_PER_PAGE = 15;
    private int currentPage = 1;
    private int totalPages = 1;

    protected override async Task OnInitializedAsync() {
        events = await LoadPage(currentPage);
        totalPages = (int)Math.Ceiling(Engine.Position / (double)ITEMS_PER_PAGE);
    }

    private async Task<IEnumerable<IEvent>> LoadPage(int page) {
        int offset = (page - 1) * ITEMS_PER_PAGE;
        return await Engine.Storage.GetEvents(offset, ITEMS_PER_PAGE);
    }

    private async Task HandlePageChange(int page) {
        currentPage = page;
        events = await LoadPage(page);
    }
}