@page "/roles/create"
@inject EngineBase Engine
@inject NavigationManager NavigationManager
@inject CredentialsService CredentialsService

<Scaffold>
    <Title>Create role</Title>
    <ChildContent>
        <IndividualCreateForm BaseEvent="@StaticEvent.Role" ModelID="@StaticEvent.RoleModel" OnSubmit="@HandleSubmit" />
    </ChildContent>
</Scaffold>

@code {
    private void HandleSubmit() {
        NavigationManager.NavigateTo("/roles");
    }
}