@page "/roles/create"
@inject NavigationManager NavigationManager
@inject RoutingService Routing

<Scaffold>
    <Title>Create role</Title>
    <ChildContent>
        <IndividualCreateForm BaseEvent="@StaticEvent.Role" ModelID="@StaticEvent.RoleModel" OnSubmit="@HandleSubmit" />
    </ChildContent>
</Scaffold>

@code {
    private void HandleSubmit() {
        NavigationManager.NavigateTo(Routing.Roles());
    }
}