<div class="card mb-2">
    <div class="card-body pt-3 pb-2">
        <div class="row">
            <div class="col-sm-4">
                <h5>
                    <div class="badge @TypeCssClass float-left mr-2">@Type</div>
                    <span>@Label</span>
                </h5>
            </div>
            <div class="col-sm-2">
                <span class="text-muted">Cardinality:</span>
                <strong>@Cardinality</strong>
            </div>
            <div class="col-sm-2">
                @if (Required) {
                    <span class="text-danger">(required)</span>
                }
            </div>
            <div class="col-sm-4 text-right">
                @if (!IsProtected) {
                    <button type="button" class="btn btn-link p-0" disabled="@IsAssignable" @onclick="OnAssign">
                        <i class="icon feather-check-circle mr-1"></i>
                        <span>Assign value</span>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public string TypeCssClass { get; set; } = "badge-success";

    [Parameter]
    public int Cardinality { get; set; }

    [Parameter]
    public bool Required { get; set; }

    [Parameter]
    public bool IsAssignable { get; set; }

    [Parameter]
    public bool IsProtected { get; set; }

    [Parameter]
    public EventCallback OnAssign { get; set; }
}