@*
    Parallax
    Copyright (C) 2020  Frank Horrigan <https://github.com/saurer>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<div class="card mb-2">
    <div class="card-body pt-2 pb-1">
        <div class="row">
            <div class="col-sm-4">
                <h6 class="mt-1">
                    @if (!String.IsNullOrWhiteSpace(Type)) {
                        <div class="badge @TypeCssClass float-left mr-2">@Type</div>
                    }
                    <span>@Label</span>
                </h6>
            </div>
            <div class="col-sm-2">
                @if (Cardinality.HasValue) {
                    <span class="text-muted">Cardinality:</span>
                    <strong>@Cardinality</strong>
                }
            </div>
            <div class="col-sm-2">
                @if (Required) {
                    <span class="text-danger">(required)</span>
                }
            </div>
            <div class="col-sm-4 text-right">
                @if (!IsProtected) {
                    <button type="button" class="btn btn-link p-0" disabled="@(!IsAssignable)" @onclick="OnAssign">
                        <i class="icon feather-check-circle mr-1"></i>
                        <span>Assign value</span>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public string TypeCssClass { get; set; } = "badge-success";

    [Parameter]
    public int? Cardinality { get; set; }

    [Parameter]
    public bool Required { get; set; }

    [Parameter]
    public bool IsAssignable { get; set; }

    [Parameter]
    public bool IsProtected { get; set; }

    [Parameter]
    public EventCallback OnAssign { get; set; }
}