@*
    Parallax
    Copyright (C) 2020  Frank Horrigan <https://github.com/saurer>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@inject IStorageAPI Storage
@inject TransactionsService Tx
@inject PropertyProviderService PropertyProvider
@inject PropertyContainerService PropertyContainer

<EditForm Model="@model" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator/>

    <div class="form-group">
        <label for="name">Label</label>
        <InputText class="form-control" @bind-Value="model.Label" />
    </div>

    <h4 class="mt-5">Properties</h4>
    @if (null != dbModel) {
        <ContainerProperties
            PropertyProvider="@dbModel.PropertyProvider"
            OnChange="@model.SetProperties"
        />
    }

    <hr/>
    <button type="submit" class="btn btn-primary">
        <span class="oi oi-plus mr-1"></span>
        <span>Confirm</span>
    </button>
</EditForm>

@code {
    [Parameter]
    public int BaseEvent { get; set; }

    [Parameter]
    public int ModelID { get; set; }

    [Parameter]
    public EventCallback<int> OnSubmit { get; set; }

    private IndividualCreateData model;
    private ModelData dbModel;

    protected async override Task OnInitializedAsync() {
        model = new IndividualCreateData(BaseEvent);
        this.dbModel = await PropertyProvider.GetModel(ModelID);
        model.ModelID = ModelID;
    }

    private async Task HandleSubmit() {
        var individualID = await PropertyContainer.CreateIndividual(model);
        await OnSubmit.InvokeAsync(individualID);
    }
}